.large-h1 {
    font-size : 75px;
}

.medium-p {
    font-size : 20px;
}

.outline {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.white {
    color : white;
}

.padded-top {
    height : 30px;
}

.padded-bot {
    height : 15px;
}

.chess-background {
    background-image: url(https://images.chesscomfiles.com/uploads/v1/user/16756554.64899e7a.1200x1200o.ea35b1a87a98.jpeg);
}

.chess-background2 {
    background-image: url(http://localhost:8080/chess-background.jpg);
}

.white-player {

}

.black-player {

}

.fade-anim {
    transition: opacity 2s;
    opacity: 1;
}
.fade-anim.hide {
    opacity: 0;
    pointer-events:none;
}

.slide-right {
    transform: translateX(25px);
    transition: all 1s ease-in;
}

.slide-right.back {
    transform: translateX(-25px);
    transition: all 1s linear;
}

/*.slider {*/
    /*overflow-y: hidden;*/
    /*max-height: 500px; !* approximate max height *!*/

    /*transition-property: all;*/
    /*transition-duration: 0.5s;*/
    /*transition-timing-function: cubic-bezier(0, 1, 0.5, 1);*/
/*}*/

/*.slider.closed {*/
    /*max-height: 0;*/
/*}*/
