

.outline {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.white {
    color : white;
}

.padded-top {
    height : 30px;
}

.padded-bot {
    height : 15px;
}

.chess-background {
    background-image: url(https://images.chesscomfiles.com/uploads/v1/user/16756554.64899e7a.1200x1200o.ea35b1a87a98.jpeg);
}

.chess-background2 {
    background-image: url(chess-background.jpg);
}

.fadeAndMoveUp {
    animation: fadeAndMoveUp 1s;
    animation-delay: 1.2s;
    animation-fill-mode: backwards;
}

@keyframes fadeAndMoveUp {
    0% {
        opacity: 0;
        transform: translateY(150px)
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.main-header-right {
    animation: moveInFromLeft 1.5s;
    text-align: center;
}

.main-header-left {
    animation: moveInFromRight 1.5s;
    color : white;
    font-size: 22px;
    text-align: center;
}

@keyframes moveInFromRight{
    0%{
        transform: translateX(220px);
    }
    80% {
        transform: translateX(-20px)
    }
    100%{
        transform: translate(0);
    }
}


@keyframes moveInFromLeft{
    0%{
        transform: translateX(-150px);
    }
    80% {
        transform: translateX(20px)
    }
    100%{
        transform: translate(0);
    }
}

.fade-anim {
    transition: opacity 2s;
    opacity: 1;
}
.fade-anim.hide {
    opacity: 0;
    pointer-events:none;
}

.slide-right {
    transform: translateY(-25px);
    transition: all 1s ease-in;
}

.slide-right.back {
    transform: translateY(25px);
    transition: all 1s linear;
}
